//- index.pug
extends ../../layout.pug

block title
	title #{__('Turnkey merchant account')} #{__('from the market experts')} | Fintech Finance

block content
	.content
		.wrapper
			h1
				| #{__('Turnkey merchant account')}&nbsp;
				br
				| #{__('from the market experts')}

			.box-grid.opt2.clearfix
				.box-grid__column.col100
					.box-grid__item.item7.mh4.white
						form(action="/user/cart/add?destination=" + link.url, method="POST").box-grid__item-cont.storefront
							input(type="hidden", value="opt_7", name="items")
							h3.box-grid__title
								| #{__('Assistance with opening of EU merchant account for accepting credit card payments on your website')}
							ul.text-list-grid.gray
								li.text-list-grid__item #{__('Opening period one week')}
							.box-grid__line-ptice.long
								p.box-grid__price.big € 500
								button(type="submit").button.mw1 #{__('Add to cart')}

			if language.code == 'en'
				include langs/en
			else if language.code == 'es'
				include langs/es
			else if language.code == 'ru'
				include langs/ru
			else if language.code == 'de'
				include langs/de
