// BEGIN FOOTER
footer
	.footer-top.clearfix
		.wrapper
			.footer-left.hide-mobile
				a.main-logo(href='/')
					img(src='/img/logo@2x.png', alt='')
				p.footer__text
					| #{__('Licensing of financial companies')}
					br
					| #{__('Sale of ready-made companies')}
					br
					| #{__('Legal support')}
			.footer-center
				ul.footer-menu
					li.footer-menu__item
						a.footer-menu__link(href='/documents/privacy-policy.html') #{__('Privacy Policy')}
					li.footer-menu__item
						a.footer-menu__link(href='/documents/terms-of-business.html') #{__('Terms of Business')}
					li.footer-menu__item
						a.footer-menu__link(href='/documents/terms-of-use.html') #{__('Terms of Use')}
				ul.footer-menu
					//- li.footer-menu__item
					//- 	a.footer-menu__link(href='/content/contacts.html') #{__('Contacts')}
					li.footer-menu__item
						a.footer-menu__link(href='/content/kyc.html') #{__('KYC')}
					li.footer-menu__item
						a.footer-menu__link(href='/documents/refund-policy.html') #{__('Refund Policy')}



			.footer-right
				ul.list-payments
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_1.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_2.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_3.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_4.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_5.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_6.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_7.png?ver1.0', alt='')
					li.list-payments__item
						a(href='#')
							img(src='/img/icon_payment_8.png?ver1.0', alt='')
	.footer-bottom
		.wrapper
			p.copyright
				| © Bizstars s.r.o. Company number 04401956. Blanická 590/3, Vinohrady, 120 00 Praha 2, Czech Republic. Fintech Finance and the Fintech Finance Logo are registered trademarks of the Bizstars s.r.o. All rights reserved.


	// FOOTER EOF
