.nav-private-office

	ul.menu.for-po
		li.menu__item
			a.menu__link(href='/user/account.html') #{__('Personal details')}
		li.menu__item
			a.menu__link(href='/user/account/orders.html') #{__('My orders')}
		li.menu__item
			a.menu__link(href='/user/account/history.html') #{__('Purchase history')}
	//- 
	//- ul.menu.for-po
	//- 	li.menu__item
	//- 		a.menu__link(href='/user/account/documents.html') #{__('Documents')}
	//- 	li.menu__item
	//- 		a.menu__link(href='/user/logout') #{__('Logout')}
